<%= link_to cocktail_path(cocktail), class: "card-link" do %>
  <div class="card"><%= render "photo", cocktail: cocktail %>
    <span class="card-category"><%= cocktail.name %></span>
  </div>
<% end %>
