<%= link_to cocktail_path(cocktail), class: "card-link" do %>
  <div class="card"><%= image_tag "http://lorempixel.com/360/175/nature/#{i}" %>
    <span class="card-category"><%= cocktail.name %></span>
  </div>
<% end %>
