<div class="wrapper-grey">
  <h1 class="text-center">All our cocktails</h1>
  <div class="container">
    <div class="row">
      <% @cocktails.each_with_index do |cocktail, index| %>
        <div class="col-xs-12 col-sm-4">
          <%= render "card", cocktail: cocktail, i: index %>
        </div>
      <% end %>
    </div>
  </div>
</div>

