.wrapper-grey {
  width: 100%;
  margin-top: -22px;
  padding-bottom: 45px;
  h1 {
    padding-top: 20px;
    font-size: 30px;
  }
}

.container-cocktail {
  display: flex;
  justify-content: space-around;
}
.container-create {
  padding-bottom: 50px;
}

.container-btn {
  padding-top: 20px;
  padding-bottom: 20px;
}

.btn-index {
  color: black;
  background: $yellow;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
  font-family: "Raleway";
  font-size: 20px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  transition: all 0.1s ease;
  &:hover {
    transform: scale(1.1);
    filter: brightness(85%);
    text-decoration: none;
    color: black;
  }
  .link {
    text-decoration: none;
    color: black;
  }
}
