<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to cocktails_path do %>
    <%= image_tag "brand.png", class:"brand-navbar" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs">

    <!-- Button (call-to-action) -->
    <%= link_to "Create a cocktail", new_cocktail_path, class: "navbar-wagon-item navbar-wagon-button btn" %>
  </div>
</div>
