<div class="banner"><%= video_tag "Cocktails.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "video" %>
  <div class="banner-logo"><%= image_tag "logo_cocktail.png", id: "logo" %></div>
  <div class="banner-brand"><%= image_tag "brand.png", id: "brand" %></div>
  <div class="banner-content text-left">
    <h1>Discover the web's best cocktails</h1>
    <p>Preparing cocktails is simple! To help you create delicious mixes, we have gathered the web's best cocktails</p>
  </div>
  <div class="banner-button"><%= link_to "Discover the cocktails", cocktails_path, class: "link" %></div>
</div>


